.login-title{
    text-align: center;
    font-size: 20px;
}
.register{
    text-align: center;
}
.register-nav-btn{
    margin-left: 415px;
}
.login-nav-btn{
    margin-left:350px;
}
.section{
    padding:unset;
}